 @font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
   font-display: swap;
 }

 @font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
   font-display: swap;
 }

 @font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
   font-display: swap;
 }


 html {
   height: 100%;
 }

 body {
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   font-family: 'Rubik', 'Arial', sans-serif;
   font-size: 18px;
   line-height: 30px;
   background-color: #FFFFFF;
   color: #444444;
 }

 .button {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   line-height: 21px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 /*header*/

 .page-header {
   display: flex;
   flex-direction: column;
   width: 1160px;
   margin: 0 auto;
   background-color: #FFE17F;
   color: #000000;
 }

 .logo {
   margin-left: 60px;
 }

 .custom-menu {
   display: flex;
   margin: 0 auto;
   padding: 0;
   width: 1040px;
 }

 .search {
   color: #000000;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
 }

 .search-name {
   width: 359px;
   font-family: 'Rubik', sans-serif;
   background-color: #FFE17F;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
 }

 .search-send {
   width: 160px;
   background-color: #FFE17F;
   text-align: center;
 }

 .user {
   font-weight: 400;
   color: #000000;
   text-decoration: none;
 }

 .entry::before {
   content: url("../images/header/img-user.svg");
   background-repeat: no-repeat;
   margin-right: 12px;
 }

 .entry {
   margin-left: 27px;
   max-width: 230px;
 }

 .compare::before {
   content: url("../images/header/img-comapre.svg");
   background-repeat: no-repeat;
   margin-right: 12px;
 }

 .compare {
   margin-left: auto;
 }

 .basket::before {
   content: url("../images/header/basket.svg");
   background-repeat: no-repeat;
   margin-right: 12px;
 }

 .basket {
   margin-left: 36px;
 }

 /*header-navigation*/

 .navigation-list {
   display: flex;
   margin: 0 auto;
   padding: 0;
   width: 1040px;
   list-style-type: none;
 }

 .navigation-list .navigation-item:nth-child(2) {
   margin-left: auto;
 }

 .navigation-list .navigation-item:nth-child(3) {
   margin-left: 45px;
 }

 .navigation-list .navigation-item:nth-child(4) {
   margin-left: 45px;
 }

 .catalog-list {
   list-style-type: none;
   display: flex;
   margin: 0;
   padding: 0;
 }

 .list-block {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 .list-block:nth-child(1) {
   margin-right: 30px;
 }

 .list-block:nth-child(2) {
   margin-right: 1px;
 }

 .navigation-item a {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   line-height: 21px;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
   letter-spacing: 0.2em;
 }

 .catalog-item .navigation-link {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   letter-spacing: normal;
   text-transform: none;
 }

 /*footer*/

 .page-footer-container {
   display: flex;
   flex-direction: column;
   width: 1160px;
   margin: 0 auto;
   padding: 0;
 }

 .footer-info {
   display: flex;
   margin: 0;
   padding: 0;

 }

 .footer-address {
   width: 234px;
   margin-right: 124px;
 }

 .footer-services-list {
   display: flex;
   justify-content: space-between;
   width: 444px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-right: 183px;
 }

 .footer-phone {
   width: 175px;
 }

 .social {
   display: flex;
   justify-content: end;
   margin: 0;
   padding: 0;
 }

 .footer-social-list {
   width: 150px;
   display: flex;
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 .htmlacademy-logo {
   width: 115px;
   margin-left: 390px;
 }

 .page-footer {
   background-color: #444444;
   color: #FFFFFF;
 }

 .page-footer a {
   color: #FFFFFF;
 }

 .footer-info address {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   font-style: normal;
 }

 /*main-index.html*/

 .main-container {
   flex-grow: 1;
 }

 .page-container {
   width: 1160px;
   margin: 0 auto;
 }

 /*products*/

 .large-name {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   color: #000000;
 }

 .description {
   font-weight: 400;
 }

 .first-slider {
   margin: 0;
   padding: 0;
   width: 1160px;
 }

 .first-slider-item {
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-between;
 }

 .slider-first-part {
   width: 560px;
 }

 .slider-second-part {
   width: 560px;
 }

 .first-slider-pagination {
   display: flex;
   justify-content: center;
   padding: 0;
   width: 76px;
   margin: 0 auto;
   list-style-type: none;
 }

 /*slider-table*/

 .details-index {
   font-size: 36px;
   color: #000000;
 }

 .details-description {
   font-size: 16px;
 }

 /*group-product*/

 .group-product-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
 }

 .group-product-link {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #000000;
   text-decoration: none;
 }

 .group-product-item {
   width: 160px;
   list-style-type: none;
 }

 /*services*/

 .services {
   display: flex;
   margin: 0;
   padding: 0;
   background-color: #F0F0F0;
 }

 .second-slider-pagination {
   width: 280px;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 .second-slider {
   list-style-type: none;
 }

 .second-slider-item {
   max-width: 729px;
   margin-left: 116px;
 }

 .second-slider-page-current {
   color: #FFE17F;
   background-color: #000000;
 }

 /*delivery*/

 .exclusive-product {
   width: 1160px;
   margin: 0 auto;
   text-align: center;
   background-color: #F0F0F0;
 }

 .exclusive-delivery {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
 }

 /*information*/

 .information {
   display: flex;
   margin: 0 auto;
   padding: 0;
   justify-content: space-between;
 }

 .about-us {
   width: 520px;
 }

 .about-us-list {
   font-weight: 700;
   line-height: 20px;
   letter-spacing: -0.02em;
   color: #000000;
 }

 .contacts {
   width: 532px;
 }

 .contacts h3 {
   font-weight: 700;
   font-size: 24px;
 }

 .contacts address {
   font-style: normal;
   font-weight: 400;
 }

 .address-info a {
   color: #444444;
 }

 /*mailing*/

 .mailing {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 0;
   background-color: #F0F0F0;
 }

 .mailing-review {
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-between;
 }

 .mailing-review h2 {
   width: 348px;
 }

 .mailing-review p {
   width: 560px;
 }

 .mailing-react {
   display: flex;
   padding: 0;
   margin: 0;
   justify-content: space-between;
 }

 .mailing-form {
   padding: 0;
   margin: 0;
 }

 .mailing-email {
   width: 557px;
   margin: 0;
   padding: 0;
   font-family: 'Rubik', sans-serif;
   background-color: #F0F0F0;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
 }

 .mailing-form-send {
   width: 253px;
   margin: 0;
   padding: 0;
   background-color: #F0F0F0;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   line-height: 21px;
   font-size: 18px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
 }

 .mailing-react span {
   max-width: 165PX;
 }

 /*main-catalog-monopods.html*/

 .breadcrumbs-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   text-decoration: none;
 }

 /*catalogs*/

 .catalogs {
   display: flex;
   padding: 0;
   margin: 0;
 }

 .filters {
   width: 320px;
 }

 .catalog-right-column {
   width: 840px;
 }

 .chois {
   background-color: #F0F0F0;
 }

 .chois .sorting-title {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
 }

 .chois .filters-title {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
 }

 .sorting select {
   font-weight: 400;
   color: #000000;
   background-color: #F0F0F0;
 }

 /*filters*/

 .filter-name {
   font-weight: 700;
   line-height: 20px;
   letter-spacing: -0.02em;
   color: #000000;
 }

 .chois-element {
   font-weight: 400;
   line-height: 20px;
   color: #000000;
 }

 /*result*/

 .result-item {
   list-style-type: none;
 }

 .result-item-link {
   font-weight: 700;
   line-height: 20px;
   letter-spacing: -0.02em;
   color: #000000;
   text-decoration: none;
 }

 .result-price {
   font-weight: 400;
   line-height: 21px;
   text-align: right;
 }

 .result-upload {
   width: 760px;
   margin: 0 40px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
 }

 /*padination*/

 .result-pagination {
   width: 760px;
   margin: 0 40px;
   background-color: #EBEBEB;
 }

 .result-pagination-link {
   text-decoration: none;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #444444;
   background-color: #EBEBEB;
 }

 .control {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   align-items: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #000000;
 }

 .pagination-disabled {
   color: #444444;
 }
