@font-face {

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

/*header*/
.page-header {
  background: #FFE17F;
  color: #000000;
}

.search {
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.send-search {
  background: #FFE17F;
  text-align: center;
}

.search input {
  color: #000000;
  background: #FFE17F;
  font-weight: 400;
  line-height: 20px;
}

.user {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

/*navigation*/
.navigation-item a {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.catalog-item .navigation-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
}

/*footer*/
.page-footer {
  background: #444444;
  color: #FFFFFF;
}

.page-footer a {
  color: #FFFFFF;
}

.footer-info address {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

/*main-index.html*/

/*products*/
.principal-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.description {
  font-style: normal;
  font-weight: 400;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/*slider-table*/

.characteristics-product {
  font-weight: 400;
  font-style: normal;
}

.characteristics-index {
  font-size: 36px;
  color: #000000;
}

.characteristics-description {
  font-size: 16px;
}

/*group-product*/

.group-product-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/*delivery*/

.delivery {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/*about-us*/

.about-us-other-list {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

/*contacts*/
.contacts h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.contacts address {
  font-style: normal;
  font-weight: 400;
}

.contacts .address-phone {
  color: #444444;
  ;
}

/*mailing*/

.mailing {
  background: #F0F0F0;
}

.mailing input {
  background: #F0F0F0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.send-mailing-form {
  background: #F0F0F0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  ine-height: 21px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/*catalog-monopods.html*/

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

/*sorting*/

.sorting {
  background: #F0F0F0;
}

.sorting-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  etter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting select {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background: #F0F0F0;
}

/*filters*/

.filters {
  background: #F0F0F0;
}

.filters-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  etter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filter-title {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.second-filter-item {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

/*result*/

.result-item-link {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.result-item-price {
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.upload-result {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.result-pagination{
  background: #EBEBEB;
}

.result-pagination-link{
  text-decoration: none;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #444444;
}
